@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media Queries Manager

// 0-600px    Mobile
// 600-900px  Tablet Portrait
// 900-1200px Tablet Landscape
// [1200-1800]  Desktop
// 1800+       Big Desktop

//One way to do it

@mixin respond-phone() {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin respond-tab-port() {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin respond-tab-land() {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin respond-big-screen() {
  @media (max-width: 600px) {
    @content;
  }
}

//another of achieving the same thing

@mixin respond($breakpoint) {
  @if $breakpoint==smallPhone {
    @media (max-width: 21.875em) {
      //450px
      @content;
    }
  }
  @if $breakpoint==phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }

  @if $breakpoint==tabPort {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint==tabLand {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint==bigScreen {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

// imp Order:- Base -> Typography ->general layout -> grid -> page layout -> components
