.section-features-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  color: $light-grey;

  transform: skewY(-7deg);
  margin-top: -10rem;
}

.section-features {
  max-width: $grid-width;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  padding: 20rem 0;
  transform: skewY(7deg);

  @include clearfix;

  @include respond(tabLand) {
    max-width: 40rem;
    padding: 10rem 0;
  }
}

.feature-box {
  //   background-color: $lightest_grey;
  background-color: rgb(0, 0, 0);
  float: left;

  width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  transition: all 0.4s;

  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }

  &:hover {
    transform: translateY(-7%);
    box-shadow: -2px 4px 31px 10px rgba(0, 0, 0, 0.44);
    -webkit-box-: -2px 4px 31px 10px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -2px 4px 31px 10px rgba(0, 0, 0, 0.44);
  }

  @include respond(tabLand) {
    width: 100% !important;
    margin-bottom: 6rem;
  }
}

.feature {
  text-align: center;
  padding: 2rem;
  background-color: $font-light-grey;
  //   background-color: aqua;
}

.feature-icon {
  width: 8.4rem;
  height: 8.4rem;
  margin-bottom: 1.5rem;
  fill: $dark_green;
}
