@keyframes toTheLeft {
  0% {
    opacity: 0;
    transform: translate(-100px, 0);
  }

  70% {
    opacity: 1;
    transform: translate(100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes toTheRight {
  0% {
    opacity: 0;
    transform: translate(100px, 0);
  }

  70% {
    opacity: 1;
    transform: translate(-100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fromDown {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
