* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(bigScreen) {
    font-size: 70%;
  }

  @include respond(tabLand) {
    font-size: 62.5%;
  }
  @include respond(tabPort) {
    font-size: 56.25%;
  }
  @include respond(phone) {
    font-size: 43.75%;
  }

  @include respond(smallPhone) {
    font-size: 35%;
  }
}

body {
  padding: 2.2rem;
  font-family: Lato;
  @include respond(tabPort) {
    padding: 0;
  }
}
